<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MovieApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="active">
        <a class="nav-link" [routerLink]="['home']" >Pagina principal</a>
      </li>
      <li class="nav-item" [routerLinkActive]="active" >
        <a class="nav-link" [routerLink]="['explorer']" >Buscador</a>
      </li>
    </ul>
    <form (ngSubmit)="searchMoviesBynavbar(navbar)"  #navbarForm="ngForm"
    class="form-inline">
      <input
      required
      class="form-control" type="search"
      name="nav"
      [(ngModel)]="navbar"
      [ngModelOptions]="{standalone: true}"
      placeholder="Buscar..."
      aria-label="Search">
      <button
      [disabled]="!navbarForm.valid"
      class="btn btn-outline-success my-2 my-sm-0"
      (click)="searchMoviesBynavbar(navbar)"
      (keyup.enter)="searchMoviesBynavbar(navbar)"
      type="submit">Buscar</button>
    </form>
  </div>
</nav>
